.footer {
  position: relative;
  background: var(--brand-900);
  padding-block: 64px;
  &__decoration {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.75;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 128px;
    &-left {
      flex: 1;
    }
    &-right {
      display: flex;
      flex-direction: column;
      gap: 96px;
      flex: 1;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
  &__logo {
    width: 297px;
    height: 96px;
  }
  &__heading {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 4%;
    text-transform: uppercase;
    color: var(--brown-500);
    margin-bottom: 32px;
    .dot-wrapper {
      display: flex;
      align-items: center;
      gap: 5px;
      .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        &--filled {
          background: var(--brown-500);
        }
        &--outline {
          border: 1px solid var(--brown-500);
        }
      }
    }
  }
  &__menu {
    font-family: 'MT Dalat Sans';
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px 40px;
    &-item {
      a {
        font-size: 28px;
        line-height: 1.2;
        letter-spacing: -2%;
        color: var(--brand-100);
      }
    }
  }
  &__info {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__contact {
    flex: 1;
  }
  &_list_info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    color: var(--brand-100);
  }
  &__hours {
    display: flex;
    gap: 8px;
    &-days,
    &-time {
      display: flex;
      flex-direction: column;
    }
  }
  &__cta {
    flex: 1;
  }
  &__button {
    position: relative;
    color: var(--light-yellow);
    cursor: pointer;
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__social {
    display: flex;
    align-items: center;
    gap: 28px;
    &-item {
      &:last-child {
        width: 28px;
        height: 28px;
      }
    }
  }
  &__copyright {
    font-size: 10px;
    font-weight: 500;
    line-height: 1.4;
    color: var(--grey-37);
  }
}
