* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'MT Dalat Sans';
  src: url('./assets/fonts/MTDalatSans.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  --header-height: 0;
}

body {
  font-family: 'Libre Franklin';
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  background: var(--brand-800);
  letter-spacing: 0;
}

div {
  scroll-margin-top: 80px;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: var(--white-72);
  text-decoration: none;
}
a:hover {
  color: var(--brand-300);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'MT Dalat Sans';
  line-height: 1;
}

button {
  font-family: inherit;
  border: 0;
  appearance: none;
  background: transparent;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--button-color);
  background: var(--button-background);
  transition: all 0.3s;
}

.button:hover {
  color: var(--button-color-hover);
  background: var(--button-background-hover);
}

.button--secondary {
  --button-color: var(--brown);
  --button-background: var(--white);
}

.container {
  max-width: 1920px;
  margin-inline: auto;
  padding-inline: 96px;
}

.svg-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
}

.svg-wrapper > svg {
  transition: all 0.3s;
  height: 100%;
  width: 100%;
}

.truncate-1,
.truncate-2,
.truncate-3 {
  overflow: hidden;
  white-space: normal;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  min-height: 0;
}
.truncate-1 {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.truncate-2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.truncate-3 {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
